
#app {
  &.block-animations {
    *, :before, :after {
      animation: none;
    }
  }
  &:before {
    animation: anim-opacity-reverse 2s forwards .25s;

    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top right, #b1b1b1  0%, #8cdfff  100%);
    background: -webkit-linear-gradient(top right, #b1b1b1 0%,#8cdfff  100%);
    background: linear-gradient(to bottom left, #b1b1b1 0%,#8cdfff  100%);
  }

  &.sunny {
    background: -moz-linear-gradient(top right, #ffe97f  0%, #0c9aff 50%);
    background: -webkit-linear-gradient(top right, #ffe97f  0%, #0c9aff 50%);
    background: linear-gradient(to bottom left, #ffe97f  0%, #0c9aff 50%);
  }


  &.cloudy {
    background: -moz-linear-gradient(top right, #6d6d6d  0%, #5797c5 100%);
    background: -webkit-linear-gradient(top right, #6d6d6d  0%, #5797c5 100%);
    background: linear-gradient(to bottom left, #6d6d6d  0%, #5797c5 100%);
  }

  &.rainy {
    background: -moz-linear-gradient(top right, #3a3729   0%, #6f7984 100%);
    background: -webkit-linear-gradient(top right, #3a3729   0%, #6f7984 100%);
    background: linear-gradient(to bottom left, #3a3729   0%, #6f7984 100%);
  }

  &.snowy {
    background: -moz-linear-gradient(top right, #d2d2d2   0%, #6f7984 100%);
    background: -webkit-linear-gradient(top right, #d2d2d2   0%, #6f7984 100%);
    background: linear-gradient(to bottom left, #d2d2d2   0%, #6f7984 100%);
  }

  &.nighty {
    background: -moz-linear-gradient(top right, #000917    0%, #123248 100%);
    background: -webkit-linear-gradient(top right, #000917    0%, #123248 100%);
    background: linear-gradient(to bottom left, #000917    0%, #123248 100%);
  }

}

#weather-app {
  height: 100%;
}

.main-container {
  min-height: 100%;
  padding: 4rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  max-width: 50%;
  align-self: flex-end;
  font-size: 2.25em;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: lowercase;
  color: white;
  animation: anim-hello 1s ease-in forwards;

  span {
    opacity: 0;
    animation: anim-hello 1s ease-in forwards;
    animation-delay: 1.25s;
  }

  &:first-line {
    margin-left: -1em;
  }
}

.container__today-weather {
  width: 50%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}


.today-icon {
  opacity: 0;
  animation: anim-today-weather-icon .75s cubic-bezier(0.16, 1.21, 0.66, 1.19) forwards .25s;
  width: 5em;
  align-self: flex-end;

  img {
    max-width: 100%;
  }
}

.today-weather {
  color: white;
  text-align: right;
  opacity: 0;
  animation: anim-today-weather 1s forwards 2.5s;
}

.today-temp {
  font-size: 1.5em;
  font-weight: 200;
  color: white;
  align-self: flex-end;
}

.temp-anim-fahrenheit,
.temp-anim-celsius {
  animation: temp-unit-change .5s forwards;
}

.container__forecast {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;
  padding-top: 3.5em;
  padding-bottom: 1em;
  max-width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-mask-image: linear-gradient(to right,  transparent 0, black 1em, black calc(100% - 1.5rem),  transparent 100%);
  mask-image: linear-gradient(to right,  transparent 0, black 1em, black calc(100% - 1.5rem),  transparent 100%);

  &:before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    transform-origin: left;
    transform: scaleX(0);
    animation: anim-separator 1.25s forwards 3s;
  }

  &:after {
    content: "forecast";
    display: block;
    position: absolute;
    font-size: .75em;
    top: .5em;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -200%);
    color: rgba(255, 255, 255, 0.25);
    animation: anim-forecast .5s forwards 3.25s;
  }

  img.forecast__img {
    width: 100%;
    height: 2em;
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.forecast {
  $padding-forcast: 1rem;

  width: 33%;
  max-width: 7em;
  display: inline-block;
  flex-shrink: 0;
  padding-left: $padding-forcast;
  padding-right: $padding-forcast;

  &:last-child {
    padding-right: $padding-forcast;
    padding-left: $padding-forcast;
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      opacity: 0;
      animation: anim-opacity 1s forwards #{3 + $i / 4}s;
    }
  }
}

.forecast__temp {
  text-align: center;
  color: white;
  font-weight: 200;
}

.forecast__com,
.forecast__day {
  font-size: .75em;
  padding-top: .25em;
  color: white;
  white-space: normal;
  text-align: center;
}

.container__quote {
  margin-top: 2em;
  margin-bottom: 2em;
}

blockquote {
  text-align: right;
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0;
  animation: anim-opacity 1s forwards 5s;

  p {
    margin: .25em 0;
    font-style: italic;
  }
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

    > a {
    font-size: .75em;
    padding: 2em;
    display: inline-block;
    color:white;
    text-decoration: none;
    position: relative;


    &:after {
      content: "";
      position: absolute;
      right: 5em;
      bottom: 1em;
      left: 5em;
      height: 1px;
      background: white;
      transition: transform .25s cubic-bezier(0.08, 1.68, 0.8, 1.2);
    }

    &:hover:after {
      transform: scaleX(2);
    }
  }
}

.button__back {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2rem;
  box-sizing: content-box;
  padding: 1rem 2rem;
  display: block;
  z-index: 0;
}

.button__infos {
  font-size: 2em;
  width: 1em;
  height: 1em;
  background: none;
  border: 1px solid white;
  border-radius: 1em;
  line-height: 0;
  color: white;
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.25;
  z-index: 1;
  outline: none;

  &:after {
    content: "i";
    font-size: 1em;
    line-height: 1;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
  }
  &:checked {
    position: absolute;
    opacity: 1;

    &:after {
      content: "X";
      font-size: .5em;
    }

    ~ .footer__infos {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

.footer__infos {
  position: fixed;
  padding: 2em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  transform: translate(0, 100%);
  opacity: 0;
  transition: transform $transition-duration-default, opacity $transition-duration-default;

  ul {
    list-style: none;
  }

  a {
    color: #00ffba;
  }

  hr {
    width: 50%;
    margin: 2em auto
  }
}

.main-container div:not(.footer__infos),
footer > img,
footer > a {
  transition: filter $transition-duration-default;
}

.blurry .main-container div:not(.footer__infos),
.blurry footer > img,
.blurry footer > a {
  transition: filter #{$transition-duration-default * 2};
  filter: blur(3px);
}

@media only screen and (min-width: 45em) {
  .main-container {
    margin: 0 auto;
    max-width: 45em;
  }
}
